@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h3><marquee> <label style="color:red">welcome to the online voting system for all type of election........</label></marquee></h3>
    <br />
    <h1 class="display-3 text-center">Online election portal</h1>
    <br />
    <br />
    <ul>
        <li>This application create for all type of election creation...</li>
        <li>online voting system help us to happen online voting at any time any place...</li>
        <li>in covid like situation  online voting in very usefull </li>
        <li>this is a demo app </li>
    </ul>
</div>
